<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meme world</title>
    <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">


</head>
<body>

  <div id="wrapper">

 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Memes Clan</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/auth/adminDashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        User
      </div> 
       <li class="nav-item">
        <a class="nav-link" href="/auth/getAllUsers">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>All Users</span></a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      {{!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>All users</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">user status:</h6>
            <a class="collapse-item" href="buttons.html">Block / Unblock</a>
            <a class="collapse-item" href="cards.html">Details</a>
          </div>
        </div>
      </li> --}}



      <!-- Nav Item - Utilities Collapse Menu -->
      {{!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
        </div>
      </li> --}}

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Memes
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
 

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/auth/allMemes">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>All memes</span></a>
      </li>

      <!-- Nav Item - Tables -->
 

           <li class="nav-item">
        <a class="nav-link" href="/auth/notification">
          <i class="fas fa-fw fa-table"></i>
          <span>Notification</span></a>
      </li>

           <li class="nav-item">
        <a class="nav-link" href="/setMemeTrend">
          <i class="fas fa-fw fa-table"></i>
          <span>Meme Trends / Tags</span></a>
      </li>

         <li class="nav-item">
        <a class="nav-link" href="/auth/trophySegment">
          <i class="fas fa-fw fa-table"></i>
          <span>Trophy segment</span></a>
      </li>

  <li class="nav-item">
        <a class="nav-link" href="/auth/memeStarPage">
          <i class="fas fa-fw fa-table"></i>
          <span>Meme stars</span></a>
      </li>

    
  <li class="nav-item">
        <a class="nav-link" href="/auth/MainScreenOverlayPoster">
          <i class="fas fa-fw fa-table"></i>
          <span>Main Screen Overlay</span></a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Feedbacks</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

        {{{body}}}

<style>

</style>


    {{!-- <script src="../assets/js/lib/jquery-3.4.1.min.js"></script> --}}


    
  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>


  <!-- Custom scripts for all pages-->
  <script src="../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>


</body>
</html>