       
       
        <div class="section full mt-2">
            <div class="section-title">Who we are</div>
            <div class="wide-block pt-2 pb-1">
               
                <p>
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo
                    luctus.
                </p>
            </div>
        </div>

               <div class="section full mt-2">
            <div class="section-title">Join us</div>
            <div class="wide-block pt-2 pb-2">
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim minima nostrum quibusdam earum alias repellendus. Enim, animi temporibus deleniti provident corrupti ex similique quia accusantium, blanditiis consequuntur nostrum quasi eveniet.
              </p>
            </div>
        </div>

          <div class="section mt-2 mb-5">
            <form action="">
                <div class="form-group basic">
                    <div class="input-wrapper">
                        <label class="label" for="email1">E-mail</label>
                        <input type="email" class="form-control" id="email1" placeholder="Your e-mail">
                        <i class="clear-input icon ion-ios-close-circle"></i>
                    </div>
                </div>

       <div class="form-group">
    <label for="exampleFormControlTextarea1">Why you want to join us</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
                <div style="margin-bottom: 80px" class="form-links mt-2">
                  <button type="submit" class="btn btn-primary btn-block btn-lg">Send your interest</button>
                </div>

             
                 
                </div>

            </form>
        </div>