<!doctype html>
<html lang="en">



        <!-- loader -->
    <div id="loader">
        <div class="spinner-grow text-secondary" role="status"></div>
    </div>
    <!-- * loader -->

    <!-- App Header -->
    
    <!-- * App Header -->

    <!-- App Capsule -->
    <div  style="padding-top: 1px" id="appCapsule">

    <div  class="section full mb-3">
             <div class="section-title">Memes that don't lie</div>

            <div class="carousel-multiple owl-carousel owl-theme">
                <div class="item">
                   <div class="chip">
                    <span class="chip-label">danks memes</span>
                </div>
                   
                </div>
                <div class="item">
                    {{!-- -webkit-box-shadow: 10px 10px 53px -27px rgba(0,0,0,0.75);
                    -moz-box-shadow: 10px 10px 53px -27px rgba(0,0,0,0.75);
                    box-shadow: 10px 10px 53px -27px rgba(0,0,0,0.75); --}}
                    <a href="/indianMemes"> <img  style="" src="assets/img/sample/photo/2.jpg" alt="alt" class="imaged w-100">
                    <p style="margin-left: 5px;font-size:90%">Indian memes &#8594;</p></a>
                   
                </div>
                <div class="item">
                    <a href="/funnyMemes"> <img  style="" src="assets/img/sample/photo/3.jpg" alt="alt" class="imaged w-100">
                    <p style="margin-left: 5px;font-size:90%">Funny memes &#8594;</p></a>
                   
                </div>
                  <div class="item">
                    <a href="/adultMemes"> <img  style="" src="assets/img/sample/photo/3.jpg" alt="alt" class="imaged w-100">
                    <p style="margin-left: 5px;font-size:90%">Adult memes &#8594;</p></a>
                   
                </div>
            </div>
        </div>
    

        <div class="section full mt-1">
            <div class="section-title">Don't miss this!</div>
            <div class="wide-block pt-2 pb-2">

                <div class="chip">
                    <span class="chip-label">danks memes</span>
                </div>
                <div class="chip">
                    <span class="chip-label">indian memes</span>
                </div>

                <div class="chip">
                    <span class="chip-label">funny memes</span>
                </div>

            </div>
        </div>
        <br>
        <ul style="border-bottom: none" class="listview image-listview">
            <li>
                <div class="item">
                    <img src="assets/img/sample/avatar/avatar1.jpg" alt="image" class="image">
                    <div class="in">
                        <div>Mihir Patel</div>
                        <div class="chip chip-outline chip-primary ml-05 mb-05">
                            <span class="chip-label">level up!</span>
                        </div>
                    </div>
                </div>
            </li>
      
        </ul>
    
        <div class="section mt-2" style="margin-top:1px" > 
            <div class="card">
                <img style="width:auto" src="assets/img/sample/photo/wide1.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <h6 class="card-subtitle mb-1">meme_by @Mihir97</h6>
                    <p class="card-text">#dankmeme #indianmeme </p>
                </div>
            </div>
        </div>


    </div>
    <!-- * App Capsule -->



     <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="../assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="../assets/js/lib/popper.min.js"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>