
       
        <div class="section full mt-2">
            <div class="section-title">Who we are</div>
            <div class="wide-block pt-2 pb-1">
               
                <p>
                  We are small team, trying to spread memes everywhere
                </p>
            </div>
        </div>

               <div class="section full mt-2">
            <div class="section-title">Join us</div>
            <div class="wide-block pt-2 pb-2">
                <p>
                    Joing us is easy, just give a simple reason and send your interest.
                <strong>Currently we are looking for meme creators.</strong>
                          </p>
            </div>
        </div>

          <div class="section mt-2 mb-5">
            <form action="/admin/contactUs" method="POST">
                <div class="form-group basic">
                    <div class="input-wrapper">
                        <label class="label" for="email1">E-mail</label>
                        <input type="email" class="form-control" id="email1" placeholder="Your e-mail" required>
                        <i class="clear-input icon ion-ios-close-circle"></i>
                    </div>
                </div>

       <div class="form-group">
    <label for="exampleFormControlTextarea1">Why you want to join us</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
                <div style="margin-bottom: 80px" class="form-links mt-2">
                  <button type="submit" class="btn btn-info btn-block btn-lg">Send your interest</button>
                </div>

             
                 
                </div>

            </form>
        </div>